:root {
    --cor-botao: #ff8000;
    --cor-texto-botao: #ff4000;
    --cor-link: #606090;
    --cor-link-hover: transparent;
    --fonte: "Comic Sans MS"
}

body {
    font-family: var(--fonte);
    background-image: url("https://media.tenor.com/4gPD1ccxrVgAAAAC/rick-ashley-dance.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.botao {
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
    padding: 1em;
    padding-right: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 10px;
}

.link {
    color: var(--cor-link);
}

.link:hover {
    color: var(--cor-link-hover);
}